<div class="title is-1">Products up for auctions!</div>
<div class="subtitle is-5">Looking to get rid of your old goodies? Auction it now!</div>

<div class="columns">
  <% @products.each do |product| %>
    <div class="column is-3">
      <% render 'product' ,product:product %>
    </div>
  <% end %>
</div>

