<h1 class="subtitle"> If you have added any products to the auction, it will appear here! </h1>
<div class="columns is-multiline">
<% @myproducts.each do |product| %>
  <div class="column is-3">
    <%= render product, product: product %>
  </div>
<% end %>
</div>